{% extends "base.htm" %}

{% block title %}Formulario de Servicio - Wedding Plan{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="https://raw.githack.com/Lalo789/WeedingPlan/main/css/forms.css">
    <link rel="stylesheet" href="https://raw.githack.com/Lalo789/WeedingPlan/main/css/tables.css">
{% endblock %}

{% block content %}
    <h1>Clientes con Registro!</h1>
    <a href="{{ url_for('nuevo_cliente') }}">Agregar Nuevo Cliente</a>
    <ul>
        {% for cliente in clientes %}
            <li>{{ cliente.nombre }} - {{ cliente.correo }} - {{ cliente.telefono }}</li>
        {% else %}
            <li>No hay clientes registrados.</li>
        {% endfor %}
    </ul>
<nav>
</nav>
</body>
</html>
{% endblock %}